<style>
  pintura-editor {
    box-shadow: 0 0 0 1px #eee;
  }
</style>

<h2>Video example</h2>

<div style="height: 70vh">
  <pintura-editor
    #editorRef
    [options]="editorOptions"
    [src]="src"
    [imageCropAspectRatio]="cropAspectRatio"
    (load)="handleLoad($event)"
    (process)="handleProcess($event)"
  ></pintura-editor>
</div>

<p *ngIf="result && resultType === 'video'">
  <video [src]="result" alt="" controls></video>
</p>

<p *ngIf="result && resultType === 'image'"><img [src]="result" alt="" /></p>
